.sidebar .nav {
	row-gap: 1rem;
}

.sidebar .nav-link {
	border: 1px solid #343a40;
	border-radius: 0.25rem;
	transition: all 250ms;
	color: #343a40;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
	color: #ffffff;
	background-color: #343a40;
}

.table .id-col {
	width: 1%;
}

.table .name-col {
	width: 90%;
}

.table .username-col,
.table .email-col {
	width: 30%;
}

.table td {
	vertical-align: middle;
}

textarea {
	min-height: 150px;
}

.modal-backdrop.show + .modal.show {
	z-index: 1052 !important;
}

.modal-backdrop.show + .modal.show + .modal-backdrop.show {
	z-index: 1051 !important;
}

.bootstrap-select > .btn {
	color: #495057 !important;
	background-color: #ffffff;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
}

@media screen and (min-width: 768px) {
	.admin-container {
		height: 100%;
	}
}
